* {
    box-sizing: border-box;
}
header {
    background-color: darkcyan;
    border: 3px solid black;
    height: 300px;
}

nav {
     height: 200px;
    width: 200px;
    padding: 30px 10px;
    margin: 30px auto;
    background-color: darksalmon;
    border: 3px solid black;
    box-sizing: border-box;
    text-align: center;
    float: left;
    top: 300px;
    /*position: fixed;*/

}

main {
    height: 1000px;
    background-color: chocolate;
    border: 3px solid black;
    padding: 270px 27px;

}

.clearfix { clear: both;}
nav { z-index: 100;}
main { z-index: 10;}
figure { z-index: 200;}

aside {
    width: 200px;
    height: 400px;
    background-color: firebrick;
    position: relative;
    float: right;
    padding: 30px 50px;
    top: -100;
    border: 3px solid black;

}

aside div {
   box-sizing: border-box;
    text-align: center;
    border: 3px solid purple;
    height: 100px;
    width: 100px;
    margin: auto;

}

.image1 {
    float: left;
}
.captionone {
    float: none;
    font-size: 40px;
}

.captiontwo {
    float: none;
    font-size: 40px;
}

.image2 {
    float: right;

}

footer {
    position: fixed;
    border: 3px solid black;
    height: 100px;
    width: 100%;
    bottom: 0;
    padding: 30px 10px;
    text-align: center;
    font-size: 40px;
    /*display: none;*/
}



.bigDiv {
   box-sizing: border-box;
    text-align: center;
    border: 3px solid purple;
    height: 100px;
    width: 100px;
    text-align: center;
}

p {
    font-size: 30px;


}

footer div {
   background-color: aqua;
    height: 100%;
    display: none;
}
